.chat-container {
    padding: 90px 40px 0 80px;

    @include media-breakpoint-down(sm) {
        padding: 30px 15px 0 15px;
    }
}

.chat-messages-container {
    width: 100%;
    background-color: #ff8920;
}

.chat-message-list {
    width: 100%;
    //max-width: 1015px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 50vh;
    padding: 25px 25px 0 25px;
    background: linear-gradient(#ff8920 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), #ff8920 70%) 0 100%, linear-gradient(rgb(0, 0, 0, .2), rgba(0, 0, 0, 0)), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)) 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    background-attachment: local, local, scroll, scroll;

    @include media-breakpoint-down(sm) {
        padding: 8px 8px 0 8px;
        overflow-y: auto;
        overflow-x: auto;
    }
}

.chat-list {
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 30%;

    @include media-breakpoint-down(sm) {
        margin-bottom: 16px;
        overflow-y: auto;
        overflow-x: auto;
        max-width: 100%;
    }
}

.chat-list-card {
    display: block;
    background-color: #6e6e6e;
    padding: 40px 26px 30px 26px;
    margin-bottom: 10px;
    text-align: left;
    border: none;
    border-radius: 0;

    &.active {
        background-color: #ff8920;
    }

    &:hover {
        background-color: #ff8920;
    }

    &:last-child {
        border-bottom: 10px solid #ff8920;
    }

    h4 {
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        font-weight: bold;
        line-height: 1.24;
        color: $white;
        padding-bottom: 0;
        margin-bottom: 40px;

        @include media-breakpoint-down(sm) {
            margin-bottom: 8px;
        }
    }

    p {
        font-family: 'Quicksand', sans-serif;
        font-size: 16px;
        line-height: 1.88;
        color: $white;
        margin-bottom: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 1.88rem;
        white-space: nowrap;
    }

    @include media-breakpoint-down(sm) {
        padding: 18px 12px 14px 12px;
    }
}

.user-message-container {
    display: flex;
    width: 100%;
    margin-bottom: 25px;

    &:last-child {
        margin-bottom: 35px;
    }

    @include media-breakpoint-down(sm) {
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 8px;
        }
    }
}

.user-message-avatar {
    display: flex;
    width: 118px;
    min-width: 118px;
    height: 118px;
    background-color: $white;
    border-radius: 50%;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }

    .user-name {
        position: absolute;
        bottom: -1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 118px;
        font-size: 0.75rem;
        line-height: 0.75rem;
        text-align: center;
        color:#fff;

        @include media-breakpoint-down(sm) {
            width: 60px;
        }
    }

    .sprite-svg {
        width: 72px;
        height: 72px;
        color: $orange;
        margin: auto;

        @include media-breakpoint-down(sm) {
            width: 32px;
            height: 32px;
        }
    }

    @include media-breakpoint-down(sm) {
        width: 60px;
        min-width: 60px;
        height: 60px;
    }
}

.user-text-container {
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: $white;
    box-shadow: 3px 6px 6px 0 rgba(0, 0, 0, 0.16);

    &.left {
        margin-left: 24px;

        &:before {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            z-index: 1;
            border-left: 18px solid transparent;
            border-right: 18px solid $white;
            border-top: 18px solid transparent;
            border-bottom: 18px solid transparent;
            left: -36px;
            top: 50%;
            transform: translateY(-50%);
        }

        .user-text {
            padding-left: 18px;

            @include media-breakpoint-down(sm) {
                padding-left: 8px;
            }
        }

        .user-text-time {
            text-align: right;
        }

        @include media-breakpoint-down(sm) {
            margin-left: 10px;

            &:before {
                border-left: 10px solid transparent;
                border-right: 10px solid $white;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                left: -20px;
            }
        }
    }

    &.right {
        margin-right: 24px;

        &:before {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            z-index: 1;
            border-left: 18px solid $white;
            border-right: 18px solid transparent;
            border-top: 18px solid transparent;
            border-bottom: 18px solid transparent;
            right: -36px;
            top: 50%;
            transform: translateY(-50%);
        }

        @include media-breakpoint-down(sm) {
            margin-right: 10px;

            &:before {
                border-left: 10px solid $white;
                border-right: 10px solid transparent;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                right: -20px;
            }
        }
    }
}

.user-text {
    padding: 22px 32px;
    color: $black;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 1.88;
    white-space: pre-wrap;

    @include media-breakpoint-down(sm) {
        padding: 8px;
    }
}

.user-text-time {
    padding: 5px 20px;
    font-size: 12px;
    line-height: 1.67;
    background-color: $gray-light;
    color: $gray;

    @include media-breakpoint-down(sm) {
        padding: 4px 8px;
    }
}

.chat-divider {
    height: 5px;
    background-color: $white;
    margin: 0 0 24px 0;

    @include media-breakpoint-down(sm) {
        margin: 0 0 8px 0;
    }
}

.chat-send-form-container {
    padding: 0 25px 25px 25px;

    @include media-breakpoint-down(sm) {
        padding: 0 8px 8px 8px;
    }
}

.chat-textarea {
    display: block;
    width: 100%;
    height: auto;
    padding: 16px 20px;
    font-size: 16px;
    line-height: 1.28;
    color: $gray;
    background-color: $white;
    background-clip: padding-box;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    resize: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.project-chat {
    width: 100%;
    /*background-color: $orange;*/
    margin-top: 24px;
}
