.content-top {
    width: 100%;
    min-height: 240px;
    background-image: linear-gradient(100deg, $orange 1%, #ff8110 85%);
    display: flex;
    align-items: center;
    position: relative;
    padding: 70px 80px;

    @include media-breakpoint-down(sm) {
        min-height: 140px;
        padding: 20px 15px;
    }
}

.content-top-text {
    width: 100%;
    z-index: 1;

    h1 {
        font-family: 'Quicksand', sans-serif;
        font-size: 50px;
        font-weight: bold;
        line-height: 1.26;
        color: #f7f7f7;
        margin-bottom: 0;
        display: flex;
        align-items: center;

        .sprite-svg {
            width: 50px;
            height: 50px;
            margin-right: 10px;

            @include media-breakpoint-down(sm) {
                width: 25px;
                height: 25px;
            }
        }

        @include media-breakpoint-down(sm) {
            font-size: 25px;
            justify-content: center;
            margin-bottom: 8px;
            align-items: baseline;
        }
    }

    p {
        font-family: 'Quicksand', sans-serif;
        font-size: 35px;
        font-weight: normal;
        line-height: 1.26;
        color: #f7f7f7;
        margin-bottom: 0;

        @include media-breakpoint-down(sm) {
            font-size: 16px;
        }
    }

    @include media-breakpoint-down(sm) {
        text-align: center;
    }
}

.content-top-image {
    width: 100%;
    height: 100%;
    background: url(../assets/img/guildoh_sprout_shadow.png) no-repeat bottom right;
    position: absolute;
    top: 0;
    right: 0;

    @include media-breakpoint-down(sm) {
        display: none;
    }
}
