.sb-footer {
    height: $footer-base-height;
    border-top: 10px solid $orange;
    display: flex;
    align-items: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #f7f7f7;
    z-index: 2000;
    &.sb-footer-dark {
        color: fade-out($white, 0.5);
        a {
            color: fade-out($white, 0.5);
        }
    }
    &.sb-footer-light {
        color: $text-muted;
    }
}

.footer-container {
    max-width: 1520px;
}

.footer-text {
    font-family: Quicksand, 'sans-serif';
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: $gray;
}
