.modal-common {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: $white;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: 0;
}

.modal-common-title {
    margin: 0 auto;
    font-family: Quicksand, 'sans-serif';
    //font-size: 1.5625rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    //color: $black;
    &.orange {
        color: $orange;
    }
}

@keyframes bounce {
    from {
        transform: translate3d(0, 10px, 0);
    }
    to {
        transform: translate3d(0, -20px, 0);
    }
}

.modal-body-common {
    .midium-message{
        margin: 1rem 2rem;
        line-height: 2.5rem;
        font-weight: 600;
        .emphasize-message{
            color: #75DA19;
            display: block;
        }
    }
    .small-message{
        //margin: 0 4rem;
        line-height: 2rem;
        font-weight: 600;
        font-size: 1.2rem;
    }
    label {
        font-family: Arial, 'sans-serif';
        font-size: 1.25rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.15;
        letter-spacing: normal;
        text-align: left;
        color: $black;
    }
    .bounce-img {
        animation: bounce 0.5s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }

    input, select {
        border-radius: 0;
        font-family: Quicksand, 'sans-serif';
        font-size: 0.875rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        text-align: left;
        color: $gray;
    }

    a.cancel {
        font-size: 90%;
        font-weight: 500;
        color: #ff8920;
    }
}

.modal-footer-common {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
    background-color: $gray-light;
}

.modal-header-common {
    border-bottom: 0;
}
