.sb-topnav {
    .navbar-brand {
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none;
        text-transform: lowercase;
        font-size: 24px;
        font-weight: 800;
        letter-spacing: 0.05em;
        padding-left: 0;
        img {
            height: 1rem;
        }
    }
}
