.progress.wizard-bar{
    background: #FFF;
    margin-top: 0.3rem;
    border-radius: 0;
}

.progress-bar.wizard-none{
    background: #F7F7F7;
}

.progress-bar.wizard-17{
    background: linear-gradient(90deg, #FF4320 0%, #FAAA20 100%);
}
.progress-bar.wizard-33{
    background: linear-gradient(90deg, #FF4320 0%, #FAAA20 100%);
    margin-right: 0.3rem;
}
.progress-bar.wizard-33-66{
    background: linear-gradient(90deg, #F9B320 7.07%, #EBDC1F 46.76%, #CBDB1C 100%);
    margin-right: 0.3rem;
}
.progress-bar.wizard-66-85{
    background: linear-gradient(90deg, #CCDB1C 6.39%, #75DA19 100%);
}
@media (max-width: 1200px) {
    .progress.wizard-bar {
        display: none !important;
    }
}

.account-progress {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height:0.5rem;

    .progress-bar-beginner {
        background: #FF4220;
    }
    .progress-bar-intermediate {
        background: #FF8920;
    }
    .progress-bar-advanced {
        background: #F3DC20;
    }
    .progress-bar-expert {
        background: #A8DA19;
    }
    .progress-bar-full{
        background: #72DA19;
    }
    .progress-bar-other {
        background: #000000;
    }
}