.nav-wizard-tab {
    background-color: #ffffff;
    padding: 0;
    display: block !important;
    .nav-wizard .nav-link {
        display: flex;
        flex-basis: calc(33.33% - 0.3em);
        align-items: center;
        padding: 2rem;
        margin-right: 0.3rem;
        background-color: #dcdcdc;
        border-radius: 0;
        &:last-child {
            margin-right: 0;
        }
        &.active {
            background-color: #ff8920;
            .wizard-step-icon{
                background-color: #fff;
                color:#ff8920;;
            }
            .wizard-step-text{
                .wizard-step-text-name {
                    color: #fff;
                }
                .wizard-step-text-details{
                    color: #F7F7F7;
                }
            }
        }
        .wizard-step-icon {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 4rem;
            width: 4rem;
            flex-shrink: 0;
            margin:0 1rem 0 2rem;
            border-radius: 0;
            background-color: #ff8920;
            color: #fff;
        }
        .wizard-step-text {
            line-height: 1.5;
            text-align: left;
            .wizard-step-text-name {
                font-size: 1.5rem;
                margin-bottom: 0.25rem;
                color: #ff8920;
            }
            .wizard-step-text-details{
                color: #1B1B1B;
                font-size: 1.1rem;
                font-weight: 500;
                opacity: 0.6;
            }
        }
    }
    &.nav-wizard-xl{
        display: none !important;
    }
    @media (max-width: 1200px) {
        .nav-wizard .nav-link {
            margin-right: 0;
            padding: 1.3rem;
            margin-bottom: 0.15rem;
        }
        .nav-wizard-next{
            display: none !important;
        }
        &.nav-wizard-xl{
            display: block !important;
        }

    }
}
