/* codes in june 2020 */
body{
    font-family: 'Quicksand', sans-serif;
    line-height: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}
h1,.h1{
    font-weight:700;
    font-size: 50px;
    line-height: 63px;
}
.h1{
	margin-bottom: 15px;
	color: #000;
}

h2,.h2{
    font-size: 35px;
    line-height: 34px;
}
h3,.h3{
	font-weight:700;
    font-size: 25px;
    line-height: 31px;
}
h4,.h4{
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
}
h5{
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
}
h6{
    font-size: 14px;
    line-height: 30px;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Quicksand', sans-serif;
	color: #000;
}
.container{
	max-width: 1513px;
}
.bg-ash{
	background:#f7f7f7;
}
.black-text{
    color: #000;
}
/*-----------------------Button-----------------------------------*/
.btn:hover,.btn:focus{
	outline: none;
	box-shadow: none;
}
.btn {
    padding: 8px 11px !important;
    background: #000;
    color: #fff;
    border-radius: 29px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 600;
}
.signup{
	background: #6E6E6E;
    color: #fff;
}
.signup:hover,
.signup:focus{
	background: #FF8900;
    color: #fff;
}
.button1{
    background: #FF8900;
}
.button1:hover,
.button1:focus{
	background: #e07d0b;
}
.button2{
    background:#fff;
    color: #FF8900;
    border:1px solid #FF8900;
}
.button2:hover,
.button2:focus{
    background:#FF8900 !important;
    color: #fff !important;
}

.orange-link{
	font-size: 18px;
	color: #FF8900 !important;
	line-height: 23px;
	font-weight: 700;
}
.orange-link:hover{
	text-decoration: none;
    border-bottom: 1px solid #FF8900;
}
.heading{
	margin-bottom: 75px;
    text-align: center;
    padding:0 20px;
}
.form-control{
    border: 1px solid #dddddd;
}
/*header*/
.guil-head{
	background: transparent;
	position: absolute;
	width: 100%;
	z-index: 99;
}
.guil-head .navbar-nav .nav-link {
    color: #fff;
}
.guil-head .navbar-brand img {
    height: auto;
    max-width: 145px;
}
.guil-head .navbar-brand img:focus,
.guil-head a.navbar-brand.text-white:focus{
    outline: none;
}
.guil-page-header.bg-img-cover{
	min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.guil-page-header h1,
.guil-page-header h2{
    color: #fff;
}

.guil-padding{
	padding: 50px 0;
}
.page-header-content h1{
	margin-bottom: 30px;
}
.page-header-content h2{
    font-weight: 300;
}
.navbar-expand .navbar-nav.navbar-nav-right {
    margin-left: auto;
}
/*------------------Home-----------------------------*/
.round-image{
    width: 350px;
    height: 350px;
    border-radius: 100%;
}
img.round{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.with-arrow{
    position: relative;
}
.with-arrow:after{
    position: absolute;
    content: "";
    background-image: url('../images/angle-right.svg');
    height: 10px;
    width: 18px;
    top: 7px;
    right: -26px;
    background-repeat: no-repeat;
    background-size: contain;
}
.guil-two-col .guil-left-image{
	text-align: center;
}
.guil-twocol-detail{
	padding: 70px 0 0;
}
.guil-twocol-detail h3{
	margin-bottom: 40px;
}
.guil-twocol-detail p,
.guil-twocol-detail ul{
	margin-bottom: 27px;
}
.guil-twocol-detail a{
    margin-top: 47px;
    display: inline-block;
}
.guil-two-col.bg-white{
	z-index: 9
}
.guil-two-col.bg-ash{
	z-index: 1;
	margin-top: -33px;
	margin-bottom: 70px;
}
.guil-two-col.bg-ash .guil-twocol-detail{
	padding-top: 110px;
    padding-bottom: 30px;
}
.guil-two-col.bg-ash .guil-right-image img{
	position: relative;
    top: 33px;
}
.guil-three-col .guil-threecol-detail .match-height {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.guil-three-col .guil-threecol-detail h3{
	margin-bottom: 25px;
}
.guil-threecol-detail h4{
    font-weight: 300;
    color: #6E6E6E;
    font-size: 22px;
}
.guil-banner-block{
    background: #FF8900;
    color: #fff;
    padding-top: 20px;
}
.guil-banner-block h2{
    color: inherit;
}
.guil-banner-block .guil-banner-img{
    height: 285px;
    background-size: contain;
    background-repeat-y: no-repeat;
}
.guil-banner-block .banner-detail{
    padding: 60px 30px 80px;
    text-align: center;
}
.guil-banner-block .banner-detail .btn-white{
    background: #fff;
    color: #000;
    width: 432px;
    height: 117px;
    font-size: 35px;
    line-height: 44px;
    border-radius: 71px;
    margin: 30px 0 50px;
}
.guil-slide-block .card-img{
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0;
}
.guil-slide-block .top-part{
    position: relative;
    overflow: hidden;
}
.guil-slide-block .top-part:before{
    position: absolute;
    content: "";
    background: #000;
    width: 150%;
    height: 52%;
    top: -40%;
    left: -20%;
    right: 0;
    transform: rotate(-15deg);
}
.guil-slide-block .price-block {
    position: absolute;
    left: 14px;
    top: 10px;
    color: #fff;
    z-index: 9;
}
.guil-slide-block  p{
    font-weight: 700;
}
.guil-slide-block  p,
.guil-slide-block  h6{
    color: #fff;
    margin-bottom: 0;
    line-height: 21px;
}
.guil-slide-block .slick-track{
    overflow: hidden;
}
.guil-slide-block .job-row{
    display: flex;
    overflow: hidden;
    justify-content: center;
    flex-wrap: wrap;
}
.guil-slide-block .job-row .job-col{
    width: 20%;
    padding:0 10px;
    margin-bottom: 20px;
}
.guil-slide-block .job-row .job-col .button-block {
    position: absolute;
    bottom: 6px;
    text-align: center;
    width: 100%;
    z-index: 9;
}
.guil-slide-block .job-row .job-col .read-more{
    text-decoration: none;
    font-size: 14px;
    line-height: 13px;
    font-weight: 400;
    font-family: Arial;
    border-top:1px solid #fff;
    margin-top: 20px;
    padding-top: 15px;
    display: none;

}
.slick-slide:focus{
    outline: none;
    box-shadow: none;
}
.guil-slide-block .job-row .job-col .read-more a{
    color: #fff;
}
.guil-slide-block .job-row .job-col .button-block .btn{
    /*background:transparent;
    color: #fff;*/
    margin: 0 10px;
    padding: 5px 11px !important;
    /*width: 80px;*/
    margin-bottom: 5px;
    font-size: 0.75rem;
    cursor: default;
}
.guil-slide-block .bottom-part{
    background:#000;
    padding:20px;
    text-align: center;
}
.guil-slide-block .center-detail{
    padding: 74px 20px 0;
    font-size: 16px;
    line-height: 30px;
    opacity: 0;
    color: #fff;
    position: relative;
    z-index: 9;
    font-weight: 400;
}
.guil-slide-block .job-row .slick-center .top-part:before{
    background: transparent;
}
.guil-slide-block .job-row .slick-center  .center-detail{
    opacity: 1;
}
.guil-slide-block .job-row .slick-center .btn{
    background:#FF8900 !important;
    color: #fff !important;
}
.guil-slide-block .job-row .slick-center .read-more{
    display: block;
}

.guil-slide-block .job-row .slick-center .card-img{
    height: 350px;
}
.guil-slide-block .job-row .slick-center  .bottom-part{
     background:#FF8900;
}

.guil-slide-block  .card-img{
    border-radius: 0;
}
.guil-slide-block  .top-part:after{
    position: absolute;
    content: "";
    background:#000;
    opacity: 0;
    top:0;
    right: 0;
    bottom:0;
    left:0;
    width: 100%;
    height: 100%;
}
.guil-slide-block .job-row .slick-center .top-part:after{
    opacity: 0.5;
}
.guil-slide-block .job-row .slick-slide.slick-center{
    padding-top: 0 !important;
}
.guil-slide-block .job-row .slick-slide{
    padding-top: 30px;
}
.overlay:before {
    opacity: 0.75;
}

.active-img,
.slick-center .card-img {
    display: none;
}
.slick-center .active-img {
    display: block;
}

/*footer*/
footer{
    background: #f7f7f7;
    padding: 22px 0;
    color: #FF8900 !important;
}


.slick-next {
    right: 50px;
}
.slick-prev {
    left: 50px;
}
.slick-prev:before,
.slick-next:before
{
    display:none
}
.slick-next,.slick-next:hover{
    background:url("../images/right.png") !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 33px;
    height: 55px;
}
.slick-prev,.slick-prev:hover{
    background:url("../images/left.png") !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 33px;
    height: 55px;
    z-index: 10;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}


/*----------------------------------------------------------*/
.guil-layout-auth{
    background-color: #f7f7f7;
}
.guil-layout-auth h2{
    font-size: 25px;
    margin-bottom: 0;
}
.guil-layout-auth .card .form-group span.guil-icon{
    position: absolute;
    padding: 25px;
    top: 0;
    left: 0;
    font-size: 20px;
    background-color: #FF8900;
    font-family:"Font Awesome 5 Free" ;
    color: #fff;
}
.guil-layout-auth .card .form-group span svg{
   display: none;
}
.guil-layout-auth .card .form-group .user-icon:before {
    content: "";
    background-image: url('../images/Icon.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 18px;
    right: 16px;
}
.guil-layout-auth .card .form-group .lock-icon:before {
    content: "";
    background-image: url('../images/padlock.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 18px;
    right: 16px;
}
.guil-layout-auth .card .form-group {
    position: relative;
    margin-bottom: 22px;
}
.guil-layout-auth .form-group a.small {
    display: block;
    padding-top: 7px;
    color: #FF8900;
    text-decoration: none;
    font-size: 14px;
}
.guil-layout-auth .card .form-group input {
   padding-left: 60px !important;
   border-radius: 0;
   /* min-width: 360px; */
}
.guil-layout-auth .card .form-group .text-center {
    text-align: center;
 }
 .guil-layout-auth .card-{
     background: 0;
 }

.guil-layout-auth .card-body .btn.button1{
    padding: 6px 49px !important;
    border: 0;
    border-radius: 30px;
    min-width: 152px;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    color: #fff;
}
.guil-layout-auth .card-footer .small{
    margin-top: 22px;
}
.guil-layout-auth .card-footer .signup{
    padding: 7px 22px !important;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}
.guil-layout-auth .footer-color-change{
    min-height: 148px;
    background-color: #FF8900;
    margin-top: 100px;
    position: relative;
}
.guil-layout-auth .logo img{
    max-width: 380px;
    text-align: center;
}
.guil-layout-auth .logo{
    text-align: center;
}
.guil-layout-auth .custom-control label{
    font-size: 14px;
    line-height: 18px;
}
.guil-layout-auth  .custom-checkbox .custom-control-label::before{
    border-radius: 0;
    top: 0;
}
.guil-layout-auth .custom-control-label::after{
    top: 0;
}
.guil-layout-auth .custom-control-input:checked ~ .custom-control-label::before{
    background-color: #FF8900;
    border-color: #FF8900;
}
.guil-layout-auth .card-footer{
    padding: 30px 20px;
}
.guil-layout-auth .card-footer h4{
    font-size: 20px;
}
.guil-layout-auth .footer-color-change .right-section{
    position: absolute;
    max-width: 250px;
    right: 100px;
    top: -210px;
}
.guil-layout-auth .sb-footer a {
    color: #FF8900;
}
.guil-layout-auth .sb-footer.sb-footer-dark{
    color: #949494;
    padding: 0;
}
.guil-layout-auth .form-control:focus{
    box-shadow: none;
    border: 1px solid #c7cdd6;
}
.guil-layout-auth .card{
    border-radius: 0!important;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1) !important;
    min-width: 471px;
    max-width: 100%;
    margin:auto;
}
.guil-layout-auth .card .card-body{
    padding: 22px 58px 27px;
}
.guil-layout-auth .btn-primary:focus{
    box-shadow: none;
}
.guil-layout-auth .card-footer .orange  a{
    display: block;
    padding-top: 7px;
    color: #FF8900;
    text-decoration: none;
    font-size: 14px;
}
div.guil-layout-auth main {
    padding-bottom: 0;
}

.guil-login-block .card-header{
    background:#fff;
    padding: 36px 10px 14px;
}
@media only screen and (max-width: 1200px){
    .round-image{
        width: 260px;
        height: 260px;
    }
}

@media only screen and (max-width: 992px){
    .guil-layout-auth .footer-color-change .right-section {
        position: absolute;
        max-width: 200px;
        right: 1px;
        top: -188px;
    }
    h1,.h1{
        font-size: 35px;
        line-height: 50px;
    }
    .guil-slide-block .job-row .job-col{
        width: 33%;
        padding:0 10px;
    }
    .guil-banner-block .guil-banner-img{
        height: 172px;
    }
    .guil-banner-block .banner-detail .btn-white{
        width: 350px;
        height: 87px;
        font-size: 28px;
    }
    .round-image{
        width: 220px;
        height: 220px;
    }

}
@media only screen and (max-width: 880px){
    .round-image{
        width: 195px;
        height: 195px;
    }
    .guil-threecol-detail h4{
        font-size: 18px;
    }
}
@media only screen and (max-width: 767px){
    .guil-layout-auth .footer-color-change .right-section{
        display: none;
    }
    h2{
        font-size: 23px;
    }
    .guil-layout-auth .card .form-group input{
        font-size: 15px;
    }
    .guil-layout-auth .card-body .btn.btn-primary{
        font-size: 16px;
        padding: 6px 33px;
    }
    h4{
        font-size: 18px;
    }
    .guil-layout-auth .card-footer a.sign-up{
        font-size: 17px;
    }
    .guil-layout-auth .footer-color-change{
        min-height: 100px;
        margin-top: 60px;
    }
    .guil-job-block,
    .guil-threecol-detail{
        margin-bottom: 50px;
    }
   /* .guil-slide-block .job-row{
        display: block;
    }*/
/*    .guil-slide-block .job-row .job-col{
        width: 80%;
        padding:0 10px;
        margin-bottom: 10px;
        margin:auto;
    }*/
    .guil-banner-block .guil-banner-img{
        height: 188px;
    }
    .guil-slide-block .top-part:before{
        top:-40%;
    }
    .guil-slide-block .price-block p{
        font-size:13px;
        line-height: 15px;
    }
    .guil-slide-block .price-block h6{
        font-size:11px;
        line-height: 15px;
    }
    footer{
        text-align: center;
    }

}
@media only screen and (max-width: 576px){
    /* .guil-layout-auth .card .form-group input{
        min-width: unset;
    } */
    .guil-layout-auth .logo img {
        max-width: 262px;
    }
    .guil-layout-auth .sb-footer .d-flex{
        display: block!important;
    }
    .guil-layout-auth .sb-footer.sb-footer-dark{
        text-align: center;
        padding-top: 20px!important;
    }
    .guil-layout-auth .footer-color-change{
        min-height: 70px;
        margin-top: 40px;
    }
    .guil-banner-block .banner-detail .btn-white{
        width: 222px;
        height: 82px;
        font-size: 27px;
    }
    .navbar-expand .navbar-collapse {
        flex-shrink:0;
    }
    .guil-signup {
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .guil-layout-auth .card{
        min-width: 100%;
        max-width: 100%;
        margin:auto;
    }
    .guil-layout-auth .card .card-body{
        padding: 27px 30px;
    }
    .guil-layout-auth .card{
        font-size: 16px;
    }
    .navbar-marketing .navbar-nav .nav-item .nav-link{
        font-size: 13px;
    }
    .guil-slide-block .top-part:before{
        top:-50%;
    }
    .guil-slide-block .price-block p,
    .guil-slide-block .price-block h6{
        line-height: 17px;
    }
    .guil-banner-block .banner-detail .btn-white{
        width: 300px;
        height: 60px;
        font-size: 20px;
    }
}
@media only screen and (max-width: 479px){
    .guil-layout-auth .card .forgot{
        display: block!important;
        text-align: center;
    }
    .guil-layout-auth .card .forgot button{
        margin-top: 10px;
    }
    .guil-slide-block .job-row .job-col{
        width: 100%;
    }
    .guil-banner-block .banner-detail{
        padding: 60px 0px 80px;
    }
    .guil-banner-block .guil-banner-img{
        height: 100px;
    }
}
@media only screen and (max-width: 360px){
    h1, .h1{
        font-size: 30px;
    }
    h2{
        font-size: 22px;
    }
    .guil-layout-auth .footer-color-change{
        min-height: 60px;
        margin-top: 30px;
    }
    .navbar-marketing .navbar-brand{
        margin:0;
    }
    .guil-head .navbar-brand img{
        max-width: 117px;
    }
    .navbar-marketing .navbar-nav .nav-item .nav-link{
        font-size: 12px;
    }
    .guil-slide-block .top-part:before {
        top: -40%;
    }
    .guil-banner-block .banner-detail .btn-white {
        width: auto;
        padding: 10px 35px !important;
        height: auto;
        font-size: 16px;
    }

}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     .bg-img-cover.guil-page-header{
        display: table;
        width: 100%;
        vertical-align: middle;
        justify-content: center;
     }
}
