// Background color utilities

// Adds a background gradient with a $primary color fallback
.bg-gradient-primary-to-secondary {
    background-color: $primary;
    background-image: linear-gradient(135deg, $primary 0%, fade-out($secondary, 0.2) 100%);
}

.bg-color-orange {
    background-color: $orange;
}

// Grayscale background utilities
.bg-gray-100 {
    background-color: $gray-100 !important;
}

.bg-gray-200 {
    background-color: $gray-200 !important;
}

.bg-gray-300 {
    background-color: $gray-300 !important;
}

.bg-gray-400 {
    background-color: $gray-400 !important;
}

.bg-gray-500 {
    background-color: $gray-500 !important;
}

.bg-gray-600 {
    background-color: $gray-600 !important;
}

.bg-gray-700 {
    background-color: $gray-700 !important;
}

.bg-gray-800 {
    background-color: $gray-800 !important;
}

.bg-gray-900 {
    background-color: $gray-900 !important;
}
