@mixin btnHoverMixin($bg, $hover-bg, $color: $white, $hover-color: $white) {
    background-color: $bg;
    border-color: $bg;
    color: $color;

    & .sprite-svg {
        color: $color;
    }

    &:hover, &.active {
        background-color: $hover-bg;
        border-color: $hover-bg;
        color: $hover-color;

        & .sprite-svg {
            color: $hover-color;
        }
    }
}
