// Global styling for SB Admin Pro

body {
    overflow-x: hidden;
}

main {
    padding-bottom: 8rem;
}
#layoutSidenav_content {
    background-color: $gray-100;
}

footer a {
    color: $orange;
    text-decoration: none;
    &:hover {
        color: $orange;
        text-decoration: none;
    }
}

.bg-sidebar {
    box-shadow: 3px 6px 6px 0 rgba(0, 0, 0, 0.16) !important;
    background-color: $gray-light;

    .nav-link:hover {
        color: $orange !important;
        text-decoration: none;
    }
}


