// Override base SB Sidenav styles

.sb-sidenav-account {
    background-color: $white;
    padding-top: 4.125rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    .acoount_title {
        font-size: 1.2rem;
        font-weight: 800;
        opacity: 0.8;
        color: #636363;
    }

    .acoount_strength {
        @extend .acoount_title;
        opacity: 1;
    }
}
.account-shortage{
    font-size: 1rem;
    color: #636363;
    font-weight: 500;
    a {
        color: #FF8213;
        font-weight: 800;
    }
}

.sb-sidenav {
    background-color: $white;

    font-size: 0.9rem;
    .sb-sidenav-menu {
        padding: 40px 16px 0 60px;

        .nav {
            .sb-sidenav-menu-heading {
                font-size: 0.7rem;
                font-weight: 800;
                text-transform: uppercase;
                letter-spacing: 0.05em;
            }
            .nav-link {
                display: flex;
                align-items: center;
                line-height: normal;
                .sb-nav-link-icon {
                    padding-right: 0.5rem;
                    display: inline-flex;
                    .feather,
                    i-feather {
                        width: 1rem;
                        height: 1rem;
                    }
                }
                &.active {
                    font-weight: 700;
                    .nav-icon {
                        color: $primary;
                    }
                }
            }
            .sb-sidenav-menu-nested {
                margin-left: 2rem - $sidenav-nested-border-offest;
                border-left-style: solid;
                border-left-width: thin;
                padding-left: $sidenav-nested-border-offest;
            }
        }
    }
    .sb-sidenav-footer {
        height: $footer-base-height;
        display: flex;
        align-items: center;
    }

    .nav-link {
        font-family: 'Quicksand', sans-serif;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.28;
        color: $gray;
        padding: 16px 0;

        .sprite-svg {
            width: 16px;
            height: 16px;
            color: $gray;
            margin-right: 32px;
        }

        &:hover {
            color: $orange;

            .sprite-svg {
                color: $orange;
            }
        }
    }
}
