// Custom form control solid component
//
// Append the .sb-form-control-solid class to a .form-control input
// to get a solid styling for the input

.sb-form-control-solid {
    background-color: $input-solid-bg;
    border-color: $input-solid-border-color;
    &:focus {
        background-color: $input-solid-bg;
    }
}

.form-control {
    font-family: Quicksand, 'sans-serif';
    font-size: 0.875rem;
    //border: solid 2px $gray-light;
    color: $gray;
}

.form-control:focus {
    color: #4a515b;
    background-color: #fff;
    border: 1px;
    border-color: $orange;
    outline: 0;
    box-shadow: 0 0 0 0.0625rem $orange;
}

.input-group-text {
    //border: solid 2px $gray-light;
}

input {
    padding: 1.2rem 0.75rem !important;
}

select {
    cursor: pointer;
    appearance: none;
    background-image: url('/images/dropdown.svg');
    background-position: 98% center;
    background-repeat: no-repeat;
    outline: none;
}


