<template>
    <fragment>
        <div class="form-group">
            <label for="account-type" class="small mb-1">タイプ</label>

        </div>

        <div v-if="selected == 2" class="form-group text-right">
            <button class="btn btn-link p-0" v-on:click="members.push({email: ''})" type="button">
                <i class="fas fa-plus-circle fa-sm mr-1"></i>チームメンバーを追加
            </button>
        </div>

        <div v-for="(member, idx) in members" class="form-group" :key="idx">
            <label v-bind:for="`member_${idx}`" class="small mb-1">メール</label>

            <input v-bind:id="`member_${idx}`" type="email" class="form-control py-4" name="members[]" v-model="member.email" required autocomplete="email">
        </div>
    </fragment>
</template>

<script>
    import { Fragment } from 'vue-fragment'

    export default {
        components: {Fragment},

        data() {
            return {
                selected: 1,
                members: [],
            };
        },

        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
