// Override Bootstrap color system - flat color palette

// $red: #e83d2c;
// $orange: #fa8231;
// $yellow: #ffc147;
// $green: #12ac70;
// $teal: #3fbaa1;
// $cyan: #2ccfd4;
// $blue: #1da1f5;
// $indigo: #6e22eb;
// $purple: #8039da;
// $pink: #e94d8a;

// Override Bootstrap color system - sharp color palette

$red: #ff4220;
$orange: #ff8920;
$yellow: #eeff20;
$green: #87ff20;
$teal: #00ba94;
$cyan: #00cfd5;
$blue: #0061f2;
$indigo: #5800e8;
$purple: #6900c7;
$pink: #e30059;

// Custom grayscale base hue variable
//
// Changing this to adjusts the hue of the grayscale

$grayscale-base-hue: $blue;

// Override Bootstrap grayscale with custom adaptive grayscale
//
// Mixes the $grayscale-base-hue variable with a desaturated
// black and white grayscale to produce a grayscale with slight color saturation

$white: #fff;
$gray-100: mix(#f9f9f9, $grayscale-base-hue, 97%);
$gray-200: mix(#ececec, $grayscale-base-hue, 95%);
$gray-300: mix(#e2e2e2, $grayscale-base-hue, 95%);
$gray-400: mix(#d4d4d4, $grayscale-base-hue, 94%);
$gray-500: mix(#b4b4b4, $grayscale-base-hue, 93%);
$gray-600: mix(#747474, $grayscale-base-hue, 93%);
$gray-700: mix(#505050, $grayscale-base-hue, 93%);
$gray-800: mix(#3a3a3a, $grayscale-base-hue, 94%);
$gray-900: mix(#242424, $grayscale-base-hue, 95%);
$black: #000;

// Override Bootstrap default state colors

$primary: $orange;
$secondary: $purple;
$dark: $gray-900;
$gray: #6e6e6e;
$gray-light: #f7f7f7;
$orange-dark: #e07d0b;
$orange-light: #ff8900;

// Add colors to the color map

$theme-colors: (
    'black': $black,
    'white': $white,
    'red': $red,
    'orange': $orange,
    'yellow': $yellow,
    'green': $green,
    'teal': $teal,
    'cyan': $cyan,
    'blue': $blue,
    'indigo': $indigo,
    'purple': $purple,
    'pink': $pink,
);

// Override Bootstrap yiq lightness value

$yiq-contrasted-threshold: 200;

// Brand color variables
//
// Used to create custom button styles for popular brands
// You can add more brand color variables below, a good place to
// find official brand colors is https://brandcolors.net/

$facebook: #3b5998;
$twitter: #1da1f2;
$github: #333333;
$google: #ea4335;
