.masonry { /* Masonry container */
    column-count: 4;
    column-gap: 1em;
}

.item { /* Masonry bricks or child elements */
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

.wrapper {
    width: 95%;
    margin: 3em auto;
}

.masonry {
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.item {
    display: inline-block;
    background: #fff;
    margin: 0 0 1.5em;
    width: 100%;
    -webkit-transition: 1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: solid 1px #95989a;
}

.grid  {
    &[data-columns]::before {
        content: '4 .column.size-1of4';
    }
    .column {
        float: left;
    }
    .size-1of4 {
        width: 24%;
    }
    .size-1of3 {
        width: 32.33%;
    }
    .size-1of2 {
        width: 49%;
    }
    .size-1of1 {
        width: 100%;
    }
}

.home-info-hour {
    font-family: Arial, 'sans-serif';
    font-size: 1.25rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: left;
    color: $black;
}
.info-skill-home {
    display: inline-block;
    border-radius: 25px;
    border: solid 1px $orange;
    background-color: $orange;
    padding: 6px 16px;
    font-family: Arial, "sans-serif";
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin-right: 10px;
    margin-bottom: 10px;
}
.project-content {
    padding: 20px;
}

.info-freelancer {
    padding: 33px 33px 0 33px;
    background-color: #fff;
}
.footer-freelancer {
    background-color: $black;
    padding: 40px 10px;
}

.freelancer-projects-button {
    font-family: Quicksand, 'sans-serif';
    /*font-size: 1.25rem;*/
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: $white;
}
.home-info-time {
    .-to-3-months {
        width: 85px;
        height: 16px;
        font-family: Arial, 'sans-serif';
        font-size: 0.875rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.14;
        letter-spacing: normal;
        text-align: left;
        color: $black;
    }
}
.freelancer-projects {
    background-color: $orange;
}

.main-project-footer {
    background-color: $black;
    padding: 20px;

    h6, .project-name {
        min-width: 200px;
        min-height: 25px;
        font-family: Quicksand, 'sans-serif';
        font-size: 1.25rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: center;
        color: $white !important;

    }

    .category-project {
        font-family: Quicksand, 'sans-serif';
        font-size: 0.875rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.14;
        letter-spacing: normal;
        text-align: center;
        color: $white;
        opacity: 0.7;
    }

    hr {
        width: 80%;
        height: 0.5px;
        background-color: $white;
        opacity: 0.7;
    }
}
.open-block {
    background-color: $orange;
}

@media only screen and (min-width: 320px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 1280px) {
    .wrapper {
        width: 1260px;
    }
}

@media screen and (max-width: 480px){
    .grid[data-columns]::before {
        content: '1 .column.size-1of1';
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .grid[data-columns]::before {
        content: '2 .column.size-1of2';
    }
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
    .grid[data-columns]::before {
        content: '3 .column.size-1of3';
    }
}
