//.content-bg {
//    background: linear-gradient(0deg, #f7f7f7 0%, #f7f7f7 50%, $white 50%, $white 100%);
//}

.message-list {
    padding: 90px 50px 0 50px;

    @include media-breakpoint-down(sm) {
        padding: 30px 15px 0 15px;
    }
}

.message-list-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.24;
    color: $black;
    padding: 0 18px;
    margin-bottom: 35px;

    @include media-breakpoint-down(sm) {
        font-size: 18px;
        padding: 0 8px;
        margin-bottom: 16px;
        text-align: center;
    }
}
