.info-block {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    margin: 20px 1.5rem 0 30px;
}

.info-block-members {
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    grid-gap: 20px;
    justify-content: space-between;
}

.info-member {
    padding: 33px 33px 47px 33px;
    border: solid 1px #95989a;
    background-color: $white;
}

.member-title {
    h5, a {
        font-size: 1.25rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.15;
        color: $black;
        text-decoration: none;
        overflow: hidden;
    }
}

.main-project-info {
    background-color: $white;
    border: solid 1px #95989a;
}

.info-project-title {
    margin-left: 30px;
    padding: 30px 0 10px 0;
    font-size: 1.5625rem;
    font-weight: bold;
}
.info-body {
    padding: 0 0 33px 33px;
}

.info-hour {
    padding: 30px 0 0 33px;
    font-family: Arial, 'sans-serif';
    font-size: 1.25rem;
    font-weight: bold;
}

.info-months {
    font-family: Arial, 'sans-serif';
    font-size: 0.875rem;
    color: $black;
}

.info-description {
    font-family: Quicksand, 'sans-serif';
    font-size: 16px;
    white-space: pre-wrap;
}
.info-skills {
    margin-top: 30px;
}

.info-skill {
    border-radius: 25px;
    border: solid 1px $orange;
    background-color: $orange-light;
    padding: 6px 16px;
    font-family: Arial, 'sans-serif';
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: $white;
    margin-right: 10px;
    margin-bottom: 10px;
}

.info-footer {
    padding: 43px;
    background-color: $black;
}

.member-img {
    width: 100%;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom:100%
}
.add-member-form {
    max-width: 800px;
    margin: 0 auto;

    .form-title {
        font-weight: bold;
    }
    .form-main {
        padding: 15px 40px;
        background-color: $gray-light;
    }
    .form-input {
        padding: 20px;
    }
}

.card-header {
    font-size: 1.5625rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: left;
    color: $black !important;
}

.card {
object-fit: contain;
box-shadow: 3px 6px 6px 0 rgba(0, 0, 0, 0.16);
background-color: $white;
border-radius: 0;
}

.card-block {
object-fit: contain;
box-shadow: 3px 6px 6px 0 rgba(0, 0, 0, 0.16);
border: solid 1px #95989a;
background-color: $white;
}

.input-skill {
    position: relative;
}
.btn-skill-remove {
    margin-left: -70px;
    height: 30px;
    z-index: 100;
    position: absolute;
    top: 5px;
}

.btn-remove-member {
    width: auto;
    height: auto;
}

@media (max-width: 1250px) {
    .info-block-members{
        grid-template-columns: calc(50% - 10px) calc(50% - 10px);;
    }
}

@media (max-width: 600px) {
    .info-block-members{
        grid-template-columns: 100%;
    }
}

@media (max-width: 365px) {
    .info-skills {
        display: flex;
        /*flex-direction: column;*/
    }
    .info-skill {
        margin-bottom: 5px;
    }
    .info-project-title {
        margin-left:0
    }
}
