.info-block-user {
    margin: 15px 3rem 80px 30px;
    object-fit: contain;
    box-shadow: 3px 6px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #95989a;
    background-color: $white;
    font-family: Quicksand, 'sans-serif';
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: $black;
    padding: 50px 30px;
}

ul {
    list-style-type: none;
}

.edit-btn {
    color: $black;
    /*vertical-align: text-top;*/

    &:hover {
        color: $orange;
    }
}

.project-link, a {
    color: $black;
    word-wrap: break-word;

    &:hover {
        text-decoration: none;
        color: $orange;
    }
}

.wizard-title {
    color: #ff8920;
    padding: 0px 0 10px 0;
    font-size: 1.4rem;
    font-weight: bold;
}

.wizard-sub-title {
    padding: 0px 0 10px 0;
    font-weight: 600;
    font-size: 1rem;
    color: #1b1b1b;
    opacity: 0.6;
}

@media (max-width: 420px) {
    .btn-common {
        padding: 0.5rem 1rem;
    }
    .info-project-title {
        margin-left:0;
        font-size: 1.4rem;
    }
}
