.btn-common {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    transition: all .2s ease;
    min-width: 65px;
    padding: 7px 44px;
    line-height: 1.25;
    text-align: center;
    display: inline-block;

    &.orange {
        @include btnHoverMixin($orange, $orange-dark);
    }

    &.outline-orange {
        @include btnHoverMixin($white, $orange, $orange);
        border-color: $orange;
    }

    &.cancel {
        @include btnHoverMixin($gray, $gray-light, $white, $gray);
        padding: 7px 22px;
    }

    &.sign-up {
        @include btnHoverMixin($gray, $orange);
        padding: 7px 22px;
    }

    &.btn-close {
        @include btnHoverMixin($gray-light, $red, $gray);
        padding: 2px 10px;
        border-color: $gray;
        min-width: 40px;

        &:hover {
            border-color: $gray;
        }

        & .sprite-svg {
            width: 12px;
        }
    }

    &.mail {
        @include btnHoverMixin($black, $orange);
        padding: 2px 10px;
        min-width: auto;

        & .sprite-svg {
            width: 24px;
        }
    }

    &.mail-text {
        @include btnHoverMixin($black, $orange);
        padding: 6px 22px;
        border-color: $orange;

        & .sprite-svg {
            width: 32px;
            margin-right: 10px;
        }
    }

    &.status-yellow {
        background-color: $yellow;
        border-color: $yellow;
        color: $black;
    }

    &.status-green {
        background-color: $green;
        border-color: $green;
        color: $black;
    }
}
