.message-card {
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: $white;
    border: 1px solid #95989a;
    box-shadow: 3px 6px 6px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 30px;
}

.message-card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 24px 32px;

    a {
        text-decoration: none;
        text-underline: none;
    }

    h5 {
        font-family: 'Quicksand', sans-serif;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.25;
        color: $black;
        margin-bottom: 10px;
    }

    p {
        max-width: 840px;
        font-family: 'Quicksand', sans-serif;
        font-size: 16px;
        line-height: 1.88;
        color: $black;
        margin-bottom: 4px;
    }

    @include media-breakpoint-down(sm) {
        padding: 16px;
    }
}
